{% extends 'form_div_layout.html.twig' %}

{% block file_widget %}
    {{ block('form_widget') }}

    {% if url is defined and url is not null %}
        <div class="uploadedFileTypeImage">
            <img src="{{ url }}" alt="Uploaded image"/>
        </div>
    {% endif %}
{% endblock %}